{% extends 'content_base.html.twig' %}
{% block content_body %}
    <a href="{{ path('admin_calendar_new') }}" class="btn btn-primary pull-right">
        Create <span class="fa fa-plus-circle"></span>
    </a>
    <h1>Calendar Days</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Day</th>
            <th>Edit</th>
            <th>Published Day</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.title }}</td>
                <td>
                    <a href="{{ path('admin_calendar_edit', {
                        id: calendar.id
                    }) }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                </td>
                <td>
                    <span class="fa fa-{{ calendar.isPublished ? 'check' : 'times' }}"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}